################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CApp/copilot-chat/4d0f578f/sessions/f8f0bc72-9b33-41c1-8b51-524d52e063ec
/.vs/CApp/FileContentIndex
